$background : linear-gradient(0deg, #000000 0%, #030027 100%);
$cell-size : 150px;


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    user-select: none;
}

body{
    background-image: $background;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.board {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    box-sizing: border-box;
    &-cell{
        width: $cell-size;
        text-align: center;
        line-height: $cell-size;
        color: purple;
        font-size: 80px;
        border: 5px solid purple;
        box-sizing: border-box;
        height: $cell-size;
        margin: 5px;
        text-shadow: rgba(172, 3, 172, 0.9) 0px 0px 50px;
        
        &:hover{
            cursor: pointer;
            background-color: rgba(128, 0, 128, 0.308);
            transition: 0.2s;
            
            box-shadow: rgba(172, 3, 172, 0.438) 0px 10px 50px;
            transform: translateY(-5px);
        }
    }
}
.second-player{
    color: orange;
}

.winner-info{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #303030AA;
    color: white;
    text-shadow: rgba(172, 3, 172, 0.9) 0px 0px 50px;
    text-align: center;
    line-height: 100vh;
    font-size: 96px;
    display: none;
    backdrop-filter: blur(10px);
}
.second-player-shadow {
    text-shadow: rgba(255, 166, 0, 0.712) 0px 0px 50px;
}

.winner-info-show{
    opacity: 0;
    display: block;
    animation: showWinner 3s ease-in-out forwards;
}

.settings{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #303030AA;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
    &-container {
        width: 500px;
        height: 600px;
        background-color: #303030;
        border-radius: 20px;
        box-shadow: rgba(172, 3, 172, 0.438) 0px 0px 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    &-switch{
        height: 50px;
        margin-bottom: 30px;
        justify-content: center;
        display: flex;

        input {
            opacity: 0;
            width: 0px;
            aspect-ratio: 1;

            &:checked ~ .option-true {
                background-color: purple;
            }
            &:not(:checked) ~ .option-false {
                background-color: purple;
            }
        }

        background-color: #202020;
        &-option{
            width: 200px;
            line-height: 50px;          
            box-shadow: #303030 0px 0px 30px;
            &__active{
                background-color: purple;
                box-shadow: purple 0px 0px 30px;
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    &-label{
        margin-bottom: 30px;
    }
    
}

.btn-start{
    width:200px;
    height:50px;
    background-color: purple;
    color: white;
    border: none;
    font-size: 24px;
}

.back-to-settings{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 30px;
    transition: 0.5s;
    scale: 0.6;
    &:hover{
        scale: 0.9;
        transition: 0.5s;
        -webkit-filter: drop-shadow(rgba(172, 3, 172, 1) 0px 0px 50px);
        filter: drop-shadow(rgba(172, 3, 172, 1) 0px 0px 20px);
        cursor: pointer;   
    }
}



@keyframes showWinner {
    0% {        
        opacity: 0;
    }   
    33% {
        opacity: 100%;
    }
    66%{
        opacity: 100%;
    } 
    100% {
        opacity: 0;
    }
}