$background : linear-gradient(0deg, #000000 0%, #030027 100%);
$cell-size : 150px;

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    background-image: $background;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.board {
    display: flex;
    flex-wrap: wrap;
    &-cell{
        width: $cell-size;
        height: $cell-size;
        text-align: center;
        line-height: $cell-size;
        color: purple;
        font-size: 96px;
        border: 5px solid purple;
        box-sizing: border-box;
        
        &:hover{
            cursor: pointer;
            background-color: rgba(128, 0, 128, 0.308);
            transition: 0.2s;
        }
    }
}
.second-player{
    color: orange;
}

.winner-info{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #303030AA;
    color: white;
    text-align: center;
    line-height: 100vh;
    font-size: 96px;
    display: none;
    backdrop-filter: blur(10px);
}

.winner-info-show{
    
    opacity: 0;
    display: block;
    animation: showWinner 3s ease-in-out forwards;
}

@keyframes showWinner {
    0% {        
        opacity: 0;
    }   
    33% {
        opacity: 100%;
    }
    66%{
        opacity: 100%;
    } 
    100% {
        opacity: 0;
    }
}